@font-face {
	font-family: 'America';
	font-style: normal;
	font-weight: 400;
	src: local('America'), url('../fonts/America-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Shorelines';
	font-style: normal;
	font-weight: 400;
	src: local('Shorelines'), url('../fonts/Shorelines.otf') format('opentype');
}

@font-face {
	font-family: 'Exodus';
	font-style: normal;
	font-weight: 400;
	src: local('Exodus'), url('../fonts/ExodusDemo-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Christmas';
	font-style: normal;
	font-weight: 400;
	src: local('Christmas'), url('../fonts/ChristmasCard.ttf') format('truetype');
}

@font-face {
	font-family: 'SketchGothic';
	font-style: normal;
	font-weight: 400;
	src: local('SketchGothic'), url('../fonts/Sketch Gothic School.ttf') format('truetype');
}

@font-face {
	font-family: 'Magnificent';
	font-style: normal;
	font-weight: 400;
	src: local('Magnificent'), url('../fonts/Magnificent Personal Use.ttf') format('truetype');
}

@font-face {
	font-family: 'Perry';
	font-style: normal;
	font-weight: 400;
	src: local('Perry'), url('../fonts/PerryGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'German';
	font-style: normal;
	font-weight: 400;
	src: local('German'), url('../fonts/GermanGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'Restless';
	font-style: normal;
	font-weight: 400;
	src: local('Restless'), url('../fonts/Restless.otf') format('opentype');
}

@font-face {
	font-family: 'Foglihten';
	font-style: normal;
	font-weight: 400;
	src: local('Foglihten'), url('../fonts/FoglihtenNo07.otf') format('opentype');
}

@font-face {
	font-family: 'SEANCo';
	font-style: normal;
	font-weight: 400;
	src: local('SEANCo'), url('../fonts/SEANCo-Firefly-2015.otf') format('opentype');
}

@font-face {
	font-family: 'RaphLan';
	font-style: normal;
	font-weight: 400;
	src: local('RaphLan'), url('../fonts/RaphLanokFuture.otf') format('opentype');
}

@font-face {
	font-family: 'Forum';
	font-style: normal;
	font-weight: 400;
	src: local('Forum'), url('../fonts/Forum-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Westfalia';
	font-style: normal;
	font-weight: 400;
	src: local('Westfalia'), url('../fonts/Westfalia.otf') format('opentype');
}

html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
	background: url('../img/Invite\ BG\ darker.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

ul {
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
	height: 100%;
}